<html>
<head>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/pdf-lib/dist/pdf-lib.js"></script>
</head>
<body>
    <iframe id="pdf" style="width: 90%; height: 90%;"></iframe>
    <button id="GetPdf">Find PDF</button>
    <span id="pdfURL" style="display:none"></span>
</body>
</html>

@section scripts {
<script src="~/pdfScript.js"></script>
}