html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.container {
    width: 500px;
    margin: 0 auto;
}

.loginTitle {
    margin: 30px 30px auto;
    text-transform: uppercase;
}

#loginErrorMessage{
    color: red;
}

#userLabel{
    margin: 50px 7px auto;
}

#loginButton{
    margin-bottom: 10px;
}

.loginButtonHeader {
    margin-right: 40px;
    background-color: red;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius:10px;
    border-style:solid;
    border-color: red;
}

.loginButtonHeader:hover{
    color: black;
    font-size:20px;
}

.logoutButtonHeader {
    margin-right: 40px;
    background-color: dodgerblue;
    color: white;
    padding: 1em 1.5em;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    border-style: solid;
    border-color: dodgerblue;
}

.logoutButtonHeader:hover {
    color: black;
    font-size: 20px;
}


.formField {
    border-style: hidden;
    margin-top: 20px;
}

#rememberMeButton {
    border-style: hidden;
    margin-top: 20px;
    margin-left: 189px;
}