@using CashFlowUI.Helpers

@inject IRolesManager rolesManager
@{
    ViewBag.Title = "Transaction List";
}



<h2>Transaction List</h2>

@if (User.Identity.IsAuthenticated)
{
    var userRole = rolesManager.GetUserRoleFromClaims();
    @if (await rolesManager.VerifyRoleCommandPermissionAsync(userRole, "DeleteTransactionCommand"))
    {
        <label id="userHasAccessToDeleteCommand" style="display:none">true</label>
    }
    else
    {
        <label id="userHasAccessToDeleteCommand"  style="display:none">false</label>
    }

    @if (await rolesManager.VerifyRoleCommandPermissionAsync(userRole, "EditTransactionCommand"))
    {
        <label id="userHasAccessToEditCommand"  style="display:none">true</label>
    }
    else
    {
        <label id="userHasAccessToEditCommand"  style="display:none">false</label>
    }

    

    <div id="areYouSureButton" style="text-align:left;width:100%;display:inline-block" hidden>
        <button class="btn btn-danger">Are you sure?</button>
    </div>
}
<table id="TransactionTable" class="table table-bordered table-striped table-hover table-responsive" style="width:100%">
    <thead>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Payment Type</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Amount</th>
            <th>Payment Type</th>
            <th>Description</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </tfoot>
</table>

@section styles {
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/searchbuilder/1.3.2/css/searchBuilder.dataTables.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/datetime/1.1.2/css/dataTables.dateTime.min.css" />
}

@section scripts{

<script type="text/javascript" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/searchbuilder/1.3.2/js/dataTables.searchBuilder.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/datetime/1.1.2/js/dataTables.dateTime.min.js"></script>

<script>
    
    $(document).ready(function ($){
        var transactionId = '0';
        var hasAccessToDeleteCommand = $('#userHasAccessToDeleteCommand').text() == 'true';
        var hasAccessToEditCommand = $('#userHasAccessToEditCommand').text() == 'true';

        var table = $('#TransactionTable')
        .DataTable({
            dom: 'Qlfrtip',
            searchBuilder: {
                depthLimit: 1,
                columns: [2,4],
                conditions: {
              date: {
                  '!null': null,
                  'null': null
               },
              string: {
                  '!null': null,'null': null,'starts': null,'!starts':null, 'contains':null,
                  '!contains':null,'ends':null,'!ends':null,'empty':null,'!empty':null,
                  '!=':{
                      conditionName: 'Different than'
                  }
               }
            },
             },
            ajax:{
                url:'/Transaction/GetTransactionList',
                type:'POST',
                dataSrc: function(json){
                    return json.data;
                }
            },
            columns:[
                { data:'id'},
                { data:'amount'},
                { data:'paymentType'},
                { data:'description'},
                { data:'transactionTime'},
                {
                    defaultContent: '<input type="button" class="btn btn-danger deleteTransactionButton" value="Delete" disabled/><input type="button" class="btn btn-success editTransactionButton" value="Edit" disabled/>'
                }
            ],
            columnDefs: [
                { 'type': 'num', 'targets': 0 },
                { 'type': 'string', 'targets': 1 },
                { 'type': 'string', 'targets': 2 },
                { 'type': 'string', 'targets': 3 },
                { 'type': 'date', 'targets': 4 }
            ],
            processing: true,
            serverSide:true,
            ordering:true,
            paging:true,
            pagingType:'full_numbers',
            pageLength: 10,
            initComplete: function(){
                setInterval(function () {
                    if(hasAccessToDeleteCommand){
                        console.log('user has access to delete command');
                        $('.deleteTransactionButton').attr("disabled", false);
                    }
                    if(hasAccessToEditCommand){
                        $('.editTransactionButton').attr("disabled", false);
                    }
                    clearInterval(this);
                },1000);
           }
        });        

        $('#TransactionTable tbody').on( 'click', '.deleteTransactionButtons', function () {
            $(this).focusout(function(){
                    $(this).val('Delete');
                });
            if($(this).val() == 'Delete'){
                $(this).val('Are you sure?');
                transactionId = table.row( $(this).parents('tr') ).data()['id'];
                return;
            }
            else{
                if(transactionId != '0'){
                    $.ajax({
                        url:'/Transaction/DeleteTransactionById',
                        type:'DELETE',
                        data: {'id': transactionId },
                        success: function(){
                            $('#TransactionTable').DataTable().row('.selected').remove().draw( false );
                        }
                    });
                    transactionId = '0';
                }
            }        
        });

        $('#editTransactionButton tbody').on( 'click', '.deleteTransactionButtons', function () {
                               
        });


        //$('#areYouSureButton').click(function () {
        //    if(transactionId != '0'){
        //        $.ajax({
        //            url:'/Transaction/DeleteTransactionById',
        //            type:'DELETE',
        //            data: {'id': transactionId },
        //            success: function(){
        //                $('#TransactionTable').DataTable().row('.selected').remove().draw( false );
        //            }
        //        });
        //        $('#areYouSureButton').attr('hidden', true);
        //    }            
        //});

        //$('#deleteTransactionButton').click(function () {
        //    if(transactionId != '0'){
        //        $('#areYouSureButton').removeAttr('hidden');
        //    }            
        //});


        //$('#TransactionTable tbody').on( 'click', 'tr', function () {
            
        //    if ( $(this).hasClass('selected') ) {
        //        $(this).removeClass('selected');
        //        transactionId = '0';
        //    }
        //    else {
        //        table.$('tr.selected').removeClass('selected');
        //        $(this).addClass('selected');
        //        transactionId = table.row('.selected').data()['id'];
                
        //    }
        //});

        

        
    });
</script>
}